<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <div *ngIf="datalocalService.noticias.length === 0" class="content-p">
    <p>
      No hay favoritos
    </p>
  </div>

  <app-noticias *ngIf="datalocalService.noticias.length > 0"
                [enFavoritos]="true"
                [noticias]="datalocalService.noticias">
  </app-noticias>
  
</ion-content>
